{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {},
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/indent": ["error", 2],
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",

    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
